/*
Beater API

Agent observability, evaluation, gating, and human-review APIs for Beater

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package beaterclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ScenariosAPIService ScenariosAPI service
type ScenariosAPIService service

type ApiCreateScenarioRequest struct {
	ctx context.Context
	ApiService *ScenariosAPIService
	tenantId string
	projectId string
	createScenarioRequest *CreateScenarioRequest
	authorization *string
	xBeaterApiKey *string
	xBeaterProjectId *string
	xBeaterEnvironmentId *string
}

func (r ApiCreateScenarioRequest) CreateScenarioRequest(createScenarioRequest CreateScenarioRequest) ApiCreateScenarioRequest {
	r.createScenarioRequest = &createScenarioRequest
	return r
}

// Bearer API token for strict auth
func (r ApiCreateScenarioRequest) Authorization(authorization string) ApiCreateScenarioRequest {
	r.authorization = &authorization
	return r
}

// API key alternative for strict auth
func (r ApiCreateScenarioRequest) XBeaterApiKey(xBeaterApiKey string) ApiCreateScenarioRequest {
	r.xBeaterApiKey = &xBeaterApiKey
	return r
}

// Strict-auth project scope
func (r ApiCreateScenarioRequest) XBeaterProjectId(xBeaterProjectId string) ApiCreateScenarioRequest {
	r.xBeaterProjectId = &xBeaterProjectId
	return r
}

// Strict-auth environment scope
func (r ApiCreateScenarioRequest) XBeaterEnvironmentId(xBeaterEnvironmentId string) ApiCreateScenarioRequest {
	r.xBeaterEnvironmentId = &xBeaterEnvironmentId
	return r
}

func (r ApiCreateScenarioRequest) Execute() (*Scenario, *http.Response, error) {
	return r.ApiService.CreateScenarioExecute(r)
}

/*
CreateScenario Method for CreateScenario

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId tenant_id
 @param projectId project_id
 @return ApiCreateScenarioRequest
*/
func (a *ScenariosAPIService) CreateScenario(ctx context.Context, tenantId string, projectId string) ApiCreateScenarioRequest {
	return ApiCreateScenarioRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return Scenario
func (a *ScenariosAPIService) CreateScenarioExecute(r ApiCreateScenarioRequest) (*Scenario, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Scenario
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScenariosAPIService.CreateScenario")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/scenarios/{tenant_id}/{project_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant_id"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"project_id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createScenarioRequest == nil {
		return localVarReturnValue, nil, reportError("createScenarioRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xBeaterApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-beater-api-key", r.xBeaterApiKey, "simple", "")
	}
	if r.xBeaterProjectId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-beater-project-id", r.xBeaterProjectId, "simple", "")
	}
	if r.xBeaterEnvironmentId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-beater-environment-id", r.xBeaterEnvironmentId, "simple", "")
	}
	// body params
	localVarPostBody = r.createScenarioRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetScenarioRequest struct {
	ctx context.Context
	ApiService *ScenariosAPIService
	tenantId string
	projectId string
	scenarioId string
	authorization *string
	xBeaterApiKey *string
	xBeaterProjectId *string
	xBeaterEnvironmentId *string
}

// Bearer API token for strict auth
func (r ApiGetScenarioRequest) Authorization(authorization string) ApiGetScenarioRequest {
	r.authorization = &authorization
	return r
}

// API key alternative for strict auth
func (r ApiGetScenarioRequest) XBeaterApiKey(xBeaterApiKey string) ApiGetScenarioRequest {
	r.xBeaterApiKey = &xBeaterApiKey
	return r
}

// Strict-auth project scope
func (r ApiGetScenarioRequest) XBeaterProjectId(xBeaterProjectId string) ApiGetScenarioRequest {
	r.xBeaterProjectId = &xBeaterProjectId
	return r
}

// Strict-auth environment scope
func (r ApiGetScenarioRequest) XBeaterEnvironmentId(xBeaterEnvironmentId string) ApiGetScenarioRequest {
	r.xBeaterEnvironmentId = &xBeaterEnvironmentId
	return r
}

func (r ApiGetScenarioRequest) Execute() (*Scenario, *http.Response, error) {
	return r.ApiService.GetScenarioExecute(r)
}

/*
GetScenario Method for GetScenario

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId tenant_id
 @param projectId project_id
 @param scenarioId scenario_id
 @return ApiGetScenarioRequest
*/
func (a *ScenariosAPIService) GetScenario(ctx context.Context, tenantId string, projectId string, scenarioId string) ApiGetScenarioRequest {
	return ApiGetScenarioRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
		projectId: projectId,
		scenarioId: scenarioId,
	}
}

// Execute executes the request
//  @return Scenario
func (a *ScenariosAPIService) GetScenarioExecute(r ApiGetScenarioRequest) (*Scenario, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Scenario
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScenariosAPIService.GetScenario")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/scenarios/{tenant_id}/{project_id}/{scenario_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant_id"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"project_id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"scenario_id"+"}", url.PathEscape(parameterValueToString(r.scenarioId, "scenarioId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xBeaterApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-beater-api-key", r.xBeaterApiKey, "simple", "")
	}
	if r.xBeaterProjectId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-beater-project-id", r.xBeaterProjectId, "simple", "")
	}
	if r.xBeaterEnvironmentId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-beater-environment-id", r.xBeaterEnvironmentId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListScenariosRequest struct {
	ctx context.Context
	ApiService *ScenariosAPIService
	tenantId string
	projectId string
	limit *int32
	cursor *string
	authorization *string
	xBeaterApiKey *string
	xBeaterProjectId *string
	xBeaterEnvironmentId *string
}

func (r ApiListScenariosRequest) Limit(limit int32) ApiListScenariosRequest {
	r.limit = &limit
	return r
}

func (r ApiListScenariosRequest) Cursor(cursor string) ApiListScenariosRequest {
	r.cursor = &cursor
	return r
}

// Bearer API token for strict auth
func (r ApiListScenariosRequest) Authorization(authorization string) ApiListScenariosRequest {
	r.authorization = &authorization
	return r
}

// API key alternative for strict auth
func (r ApiListScenariosRequest) XBeaterApiKey(xBeaterApiKey string) ApiListScenariosRequest {
	r.xBeaterApiKey = &xBeaterApiKey
	return r
}

// Strict-auth project scope
func (r ApiListScenariosRequest) XBeaterProjectId(xBeaterProjectId string) ApiListScenariosRequest {
	r.xBeaterProjectId = &xBeaterProjectId
	return r
}

// Strict-auth environment scope
func (r ApiListScenariosRequest) XBeaterEnvironmentId(xBeaterEnvironmentId string) ApiListScenariosRequest {
	r.xBeaterEnvironmentId = &xBeaterEnvironmentId
	return r
}

func (r ApiListScenariosRequest) Execute() (*ListScenariosResponse, *http.Response, error) {
	return r.ApiService.ListScenariosExecute(r)
}

/*
ListScenarios Method for ListScenarios

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId tenant_id
 @param projectId project_id
 @return ApiListScenariosRequest
*/
func (a *ScenariosAPIService) ListScenarios(ctx context.Context, tenantId string, projectId string) ApiListScenariosRequest {
	return ApiListScenariosRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return ListScenariosResponse
func (a *ScenariosAPIService) ListScenariosExecute(r ApiListScenariosRequest) (*ListScenariosResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListScenariosResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScenariosAPIService.ListScenarios")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/scenarios/{tenant_id}/{project_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant_id"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"project_id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xBeaterApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-beater-api-key", r.xBeaterApiKey, "simple", "")
	}
	if r.xBeaterProjectId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-beater-project-id", r.xBeaterProjectId, "simple", "")
	}
	if r.xBeaterEnvironmentId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-beater-environment-id", r.xBeaterEnvironmentId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMineScenariosRequest struct {
	ctx context.Context
	ApiService *ScenariosAPIService
	tenantId string
	projectId string
	mineScenariosRequest *MineScenariosRequest
	authorization *string
	xBeaterApiKey *string
	xBeaterProjectId *string
	xBeaterEnvironmentId *string
}

func (r ApiMineScenariosRequest) MineScenariosRequest(mineScenariosRequest MineScenariosRequest) ApiMineScenariosRequest {
	r.mineScenariosRequest = &mineScenariosRequest
	return r
}

// Bearer API token for strict auth
func (r ApiMineScenariosRequest) Authorization(authorization string) ApiMineScenariosRequest {
	r.authorization = &authorization
	return r
}

// API key alternative for strict auth
func (r ApiMineScenariosRequest) XBeaterApiKey(xBeaterApiKey string) ApiMineScenariosRequest {
	r.xBeaterApiKey = &xBeaterApiKey
	return r
}

// Strict-auth project scope
func (r ApiMineScenariosRequest) XBeaterProjectId(xBeaterProjectId string) ApiMineScenariosRequest {
	r.xBeaterProjectId = &xBeaterProjectId
	return r
}

// Strict-auth environment scope
func (r ApiMineScenariosRequest) XBeaterEnvironmentId(xBeaterEnvironmentId string) ApiMineScenariosRequest {
	r.xBeaterEnvironmentId = &xBeaterEnvironmentId
	return r
}

func (r ApiMineScenariosRequest) Execute() (*MineScenariosResponse, *http.Response, error) {
	return r.ApiService.MineScenariosExecute(r)
}

/*
MineScenarios Method for MineScenarios

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId tenant_id
 @param projectId project_id
 @return ApiMineScenariosRequest
*/
func (a *ScenariosAPIService) MineScenarios(ctx context.Context, tenantId string, projectId string) ApiMineScenariosRequest {
	return ApiMineScenariosRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return MineScenariosResponse
func (a *ScenariosAPIService) MineScenariosExecute(r ApiMineScenariosRequest) (*MineScenariosResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MineScenariosResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScenariosAPIService.MineScenarios")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/scenarios/{tenant_id}/{project_id}/mine"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant_id"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"project_id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.mineScenariosRequest == nil {
		return localVarReturnValue, nil, reportError("mineScenariosRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xBeaterApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-beater-api-key", r.xBeaterApiKey, "simple", "")
	}
	if r.xBeaterProjectId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-beater-project-id", r.xBeaterProjectId, "simple", "")
	}
	if r.xBeaterEnvironmentId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-beater-environment-id", r.xBeaterEnvironmentId, "simple", "")
	}
	// body params
	localVarPostBody = r.mineScenariosRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
