/*
 * Beater API
 * Agent observability, evaluation, gating, and human-review APIs for Beater
 *
 * The version of the OpenAPI document: 0.1.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package ai.beater.client.api;

import ai.beater.client.ApiClient;
import ai.beater.client.ApiException;
import ai.beater.client.ApiResponse;
import ai.beater.client.Pair;

import ai.beater.client.model.DeadLetterReplayReport;
import ai.beater.client.model.ErrorResponse;
import ai.beater.client.model.ImportSourceHttpRequest;
import ai.beater.client.model.IngestOutcome;
import ai.beater.client.model.IngestQueueStatus;
import ai.beater.client.model.NativeIngestRequest;
import ai.beater.client.model.OtlpIngestOutcome;
import ai.beater.client.model.TraceIngestedDrainReport;
import ai.beater.client.model.TraceIngestedReconcileReport;
import ai.beater.client.model.TraceWriteDrainReport;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.11.0")
public class IngestApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public IngestApi() {
    this(new ApiClient());
  }

  public IngestApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   *
   *
   * @param tenantId tenant_id (required)
   * @param projectId project_id (required)
   * @param limit  (optional)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xBeaterApiKey API key alternative for strict auth (optional)
   * @param xBeaterProjectId Strict-auth project scope (optional)
   * @param xBeaterEnvironmentId Strict-auth environment scope (optional)
   * @return TraceIngestedDrainReport
   * @throws ApiException if fails to make API call
   */
  public TraceIngestedDrainReport ingestDrainTraceIngested(String tenantId, String projectId, Integer limit, String authorization, String xBeaterApiKey, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    ApiResponse<TraceIngestedDrainReport> localVarResponse = ingestDrainTraceIngestedWithHttpInfo(tenantId, projectId, limit, authorization, xBeaterApiKey, xBeaterProjectId, xBeaterEnvironmentId);
    return localVarResponse.getData();
  }

  /**
   *
   *
   * @param tenantId tenant_id (required)
   * @param projectId project_id (required)
   * @param limit  (optional)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xBeaterApiKey API key alternative for strict auth (optional)
   * @param xBeaterProjectId Strict-auth project scope (optional)
   * @param xBeaterEnvironmentId Strict-auth environment scope (optional)
   * @return ApiResponse&lt;TraceIngestedDrainReport&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TraceIngestedDrainReport> ingestDrainTraceIngestedWithHttpInfo(String tenantId, String projectId, Integer limit, String authorization, String xBeaterApiKey, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = ingestDrainTraceIngestedRequestBuilder(tenantId, projectId, limit, authorization, xBeaterApiKey, xBeaterProjectId, xBeaterEnvironmentId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("ingestDrainTraceIngested", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<TraceIngestedDrainReport>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<TraceIngestedDrainReport>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<TraceIngestedDrainReport>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder ingestDrainTraceIngestedRequestBuilder(String tenantId, String projectId, Integer limit, String authorization, String xBeaterApiKey, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    // verify the required parameter 'tenantId' is set
    if (tenantId == null) {
      throw new ApiException(400, "Missing the required parameter 'tenantId' when calling ingestDrainTraceIngested");
    }
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(400, "Missing the required parameter 'projectId' when calling ingestDrainTraceIngested");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/ingest/{tenant_id}/{project_id}/trace-ingested/drain"
        .replace("{tenant_id}", ApiClient.urlEncode(tenantId.toString()))
        .replace("{project_id}", ApiClient.urlEncode(projectId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    if (authorization != null) {
      localVarRequestBuilder.header("authorization", authorization.toString());
    }
    if (xBeaterApiKey != null) {
      localVarRequestBuilder.header("x-beater-api-key", xBeaterApiKey.toString());
    }
    if (xBeaterProjectId != null) {
      localVarRequestBuilder.header("x-beater-project-id", xBeaterProjectId.toString());
    }
    if (xBeaterEnvironmentId != null) {
      localVarRequestBuilder.header("x-beater-environment-id", xBeaterEnvironmentId.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   *
   *
   * @param tenantId tenant_id (required)
   * @param projectId project_id (required)
   * @param limit  (optional)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xBeaterApiKey API key alternative for strict auth (optional)
   * @param xBeaterProjectId Strict-auth project scope (optional)
   * @param xBeaterEnvironmentId Strict-auth environment scope (optional)
   * @return TraceWriteDrainReport
   * @throws ApiException if fails to make API call
   */
  public TraceWriteDrainReport ingestDrainTraceWrites(String tenantId, String projectId, Integer limit, String authorization, String xBeaterApiKey, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    ApiResponse<TraceWriteDrainReport> localVarResponse = ingestDrainTraceWritesWithHttpInfo(tenantId, projectId, limit, authorization, xBeaterApiKey, xBeaterProjectId, xBeaterEnvironmentId);
    return localVarResponse.getData();
  }

  /**
   *
   *
   * @param tenantId tenant_id (required)
   * @param projectId project_id (required)
   * @param limit  (optional)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xBeaterApiKey API key alternative for strict auth (optional)
   * @param xBeaterProjectId Strict-auth project scope (optional)
   * @param xBeaterEnvironmentId Strict-auth environment scope (optional)
   * @return ApiResponse&lt;TraceWriteDrainReport&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TraceWriteDrainReport> ingestDrainTraceWritesWithHttpInfo(String tenantId, String projectId, Integer limit, String authorization, String xBeaterApiKey, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = ingestDrainTraceWritesRequestBuilder(tenantId, projectId, limit, authorization, xBeaterApiKey, xBeaterProjectId, xBeaterEnvironmentId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("ingestDrainTraceWrites", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<TraceWriteDrainReport>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<TraceWriteDrainReport>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<TraceWriteDrainReport>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder ingestDrainTraceWritesRequestBuilder(String tenantId, String projectId, Integer limit, String authorization, String xBeaterApiKey, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    // verify the required parameter 'tenantId' is set
    if (tenantId == null) {
      throw new ApiException(400, "Missing the required parameter 'tenantId' when calling ingestDrainTraceWrites");
    }
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(400, "Missing the required parameter 'projectId' when calling ingestDrainTraceWrites");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/ingest/{tenant_id}/{project_id}/trace-writes/drain"
        .replace("{tenant_id}", ApiClient.urlEncode(tenantId.toString()))
        .replace("{project_id}", ApiClient.urlEncode(projectId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    if (authorization != null) {
      localVarRequestBuilder.header("authorization", authorization.toString());
    }
    if (xBeaterApiKey != null) {
      localVarRequestBuilder.header("x-beater-api-key", xBeaterApiKey.toString());
    }
    if (xBeaterProjectId != null) {
      localVarRequestBuilder.header("x-beater-project-id", xBeaterProjectId.toString());
    }
    if (xBeaterEnvironmentId != null) {
      localVarRequestBuilder.header("x-beater-environment-id", xBeaterEnvironmentId.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   *
   *
   * @param tenantId tenant_id (required)
   * @param projectId project_id (required)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xBeaterApiKey API key alternative for strict auth (optional)
   * @param xBeaterProjectId Strict-auth project scope (optional)
   * @param xBeaterEnvironmentId Strict-auth environment scope (optional)
   * @return IngestQueueStatus
   * @throws ApiException if fails to make API call
   */
  public IngestQueueStatus ingestGetIngestQueueStatus(String tenantId, String projectId, String authorization, String xBeaterApiKey, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    ApiResponse<IngestQueueStatus> localVarResponse = ingestGetIngestQueueStatusWithHttpInfo(tenantId, projectId, authorization, xBeaterApiKey, xBeaterProjectId, xBeaterEnvironmentId);
    return localVarResponse.getData();
  }

  /**
   *
   *
   * @param tenantId tenant_id (required)
   * @param projectId project_id (required)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xBeaterApiKey API key alternative for strict auth (optional)
   * @param xBeaterProjectId Strict-auth project scope (optional)
   * @param xBeaterEnvironmentId Strict-auth environment scope (optional)
   * @return ApiResponse&lt;IngestQueueStatus&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<IngestQueueStatus> ingestGetIngestQueueStatusWithHttpInfo(String tenantId, String projectId, String authorization, String xBeaterApiKey, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = ingestGetIngestQueueStatusRequestBuilder(tenantId, projectId, authorization, xBeaterApiKey, xBeaterProjectId, xBeaterEnvironmentId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("ingestGetIngestQueueStatus", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<IngestQueueStatus>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<IngestQueueStatus>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<IngestQueueStatus>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder ingestGetIngestQueueStatusRequestBuilder(String tenantId, String projectId, String authorization, String xBeaterApiKey, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    // verify the required parameter 'tenantId' is set
    if (tenantId == null) {
      throw new ApiException(400, "Missing the required parameter 'tenantId' when calling ingestGetIngestQueueStatus");
    }
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(400, "Missing the required parameter 'projectId' when calling ingestGetIngestQueueStatus");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/ingest/{tenant_id}/{project_id}/queue"
        .replace("{tenant_id}", ApiClient.urlEncode(tenantId.toString()))
        .replace("{project_id}", ApiClient.urlEncode(projectId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (authorization != null) {
      localVarRequestBuilder.header("authorization", authorization.toString());
    }
    if (xBeaterApiKey != null) {
      localVarRequestBuilder.header("x-beater-api-key", xBeaterApiKey.toString());
    }
    if (xBeaterProjectId != null) {
      localVarRequestBuilder.header("x-beater-project-id", xBeaterProjectId.toString());
    }
    if (xBeaterEnvironmentId != null) {
      localVarRequestBuilder.header("x-beater-environment-id", xBeaterEnvironmentId.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   *
   *
   * @param tenantId tenant_id (required)
   * @param projectId project_id (required)
   * @param environmentId environment_id (required)
   * @param importSourceHttpRequest  (required)
   * @param durability  (optional)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xBeaterApiKey API key alternative for strict auth (optional)
   * @return IngestOutcome
   * @throws ApiException if fails to make API call
   */
  public IngestOutcome ingestImportSource(String tenantId, String projectId, String environmentId, ImportSourceHttpRequest importSourceHttpRequest, String durability, String authorization, String xBeaterApiKey) throws ApiException {
    ApiResponse<IngestOutcome> localVarResponse = ingestImportSourceWithHttpInfo(tenantId, projectId, environmentId, importSourceHttpRequest, durability, authorization, xBeaterApiKey);
    return localVarResponse.getData();
  }

  /**
   *
   *
   * @param tenantId tenant_id (required)
   * @param projectId project_id (required)
   * @param environmentId environment_id (required)
   * @param importSourceHttpRequest  (required)
   * @param durability  (optional)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xBeaterApiKey API key alternative for strict auth (optional)
   * @return ApiResponse&lt;IngestOutcome&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<IngestOutcome> ingestImportSourceWithHttpInfo(String tenantId, String projectId, String environmentId, ImportSourceHttpRequest importSourceHttpRequest, String durability, String authorization, String xBeaterApiKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = ingestImportSourceRequestBuilder(tenantId, projectId, environmentId, importSourceHttpRequest, durability, authorization, xBeaterApiKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("ingestImportSource", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<IngestOutcome>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<IngestOutcome>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<IngestOutcome>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder ingestImportSourceRequestBuilder(String tenantId, String projectId, String environmentId, ImportSourceHttpRequest importSourceHttpRequest, String durability, String authorization, String xBeaterApiKey) throws ApiException {
    // verify the required parameter 'tenantId' is set
    if (tenantId == null) {
      throw new ApiException(400, "Missing the required parameter 'tenantId' when calling ingestImportSource");
    }
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(400, "Missing the required parameter 'projectId' when calling ingestImportSource");
    }
    // verify the required parameter 'environmentId' is set
    if (environmentId == null) {
      throw new ApiException(400, "Missing the required parameter 'environmentId' when calling ingestImportSource");
    }
    // verify the required parameter 'importSourceHttpRequest' is set
    if (importSourceHttpRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'importSourceHttpRequest' when calling ingestImportSource");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/import/{tenant_id}/{project_id}/{environment_id}"
        .replace("{tenant_id}", ApiClient.urlEncode(tenantId.toString()))
        .replace("{project_id}", ApiClient.urlEncode(projectId.toString()))
        .replace("{environment_id}", ApiClient.urlEncode(environmentId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "durability";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("durability", durability));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    if (authorization != null) {
      localVarRequestBuilder.header("authorization", authorization.toString());
    }
    if (xBeaterApiKey != null) {
      localVarRequestBuilder.header("x-beater-api-key", xBeaterApiKey.toString());
    }
    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(importSourceHttpRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   *
   *
   * @param nativeIngestRequest  (required)
   * @param durability  (optional)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xBeaterApiKey API key alternative for strict auth (optional)
   * @param xBeaterProjectId Strict-auth project scope (optional)
   * @param xBeaterEnvironmentId Strict-auth environment scope (optional)
   * @return IngestOutcome
   * @throws ApiException if fails to make API call
   */
  public IngestOutcome ingestIngestNative(NativeIngestRequest nativeIngestRequest, String durability, String authorization, String xBeaterApiKey, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    ApiResponse<IngestOutcome> localVarResponse = ingestIngestNativeWithHttpInfo(nativeIngestRequest, durability, authorization, xBeaterApiKey, xBeaterProjectId, xBeaterEnvironmentId);
    return localVarResponse.getData();
  }

  /**
   *
   *
   * @param nativeIngestRequest  (required)
   * @param durability  (optional)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xBeaterApiKey API key alternative for strict auth (optional)
   * @param xBeaterProjectId Strict-auth project scope (optional)
   * @param xBeaterEnvironmentId Strict-auth environment scope (optional)
   * @return ApiResponse&lt;IngestOutcome&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<IngestOutcome> ingestIngestNativeWithHttpInfo(NativeIngestRequest nativeIngestRequest, String durability, String authorization, String xBeaterApiKey, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = ingestIngestNativeRequestBuilder(nativeIngestRequest, durability, authorization, xBeaterApiKey, xBeaterProjectId, xBeaterEnvironmentId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("ingestIngestNative", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<IngestOutcome>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<IngestOutcome>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<IngestOutcome>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder ingestIngestNativeRequestBuilder(NativeIngestRequest nativeIngestRequest, String durability, String authorization, String xBeaterApiKey, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    // verify the required parameter 'nativeIngestRequest' is set
    if (nativeIngestRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'nativeIngestRequest' when calling ingestIngestNative");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/traces/native";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "durability";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("durability", durability));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    if (authorization != null) {
      localVarRequestBuilder.header("authorization", authorization.toString());
    }
    if (xBeaterApiKey != null) {
      localVarRequestBuilder.header("x-beater-api-key", xBeaterApiKey.toString());
    }
    if (xBeaterProjectId != null) {
      localVarRequestBuilder.header("x-beater-project-id", xBeaterProjectId.toString());
    }
    if (xBeaterEnvironmentId != null) {
      localVarRequestBuilder.header("x-beater-environment-id", xBeaterEnvironmentId.toString());
    }
    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(nativeIngestRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   *
   *
   * @param tenantId tenant_id (required)
   * @param projectId project_id (required)
   * @param environmentId environment_id (required)
   * @param durability  (optional)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xBeaterApiKey API key alternative for strict auth (optional)
   * @param xBeaterProjectId Strict-auth project scope (optional)
   * @param xBeaterEnvironmentId Strict-auth environment scope (optional)
   * @return OtlpIngestOutcome
   * @throws ApiException if fails to make API call
   */
  public OtlpIngestOutcome ingestIngestOtlp(String tenantId, String projectId, String environmentId, String durability, String authorization, String xBeaterApiKey, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    ApiResponse<OtlpIngestOutcome> localVarResponse = ingestIngestOtlpWithHttpInfo(tenantId, projectId, environmentId, durability, authorization, xBeaterApiKey, xBeaterProjectId, xBeaterEnvironmentId);
    return localVarResponse.getData();
  }

  /**
   *
   *
   * @param tenantId tenant_id (required)
   * @param projectId project_id (required)
   * @param environmentId environment_id (required)
   * @param durability  (optional)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xBeaterApiKey API key alternative for strict auth (optional)
   * @param xBeaterProjectId Strict-auth project scope (optional)
   * @param xBeaterEnvironmentId Strict-auth environment scope (optional)
   * @return ApiResponse&lt;OtlpIngestOutcome&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<OtlpIngestOutcome> ingestIngestOtlpWithHttpInfo(String tenantId, String projectId, String environmentId, String durability, String authorization, String xBeaterApiKey, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = ingestIngestOtlpRequestBuilder(tenantId, projectId, environmentId, durability, authorization, xBeaterApiKey, xBeaterProjectId, xBeaterEnvironmentId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("ingestIngestOtlp", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<OtlpIngestOutcome>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<OtlpIngestOutcome>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<OtlpIngestOutcome>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder ingestIngestOtlpRequestBuilder(String tenantId, String projectId, String environmentId, String durability, String authorization, String xBeaterApiKey, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    // verify the required parameter 'tenantId' is set
    if (tenantId == null) {
      throw new ApiException(400, "Missing the required parameter 'tenantId' when calling ingestIngestOtlp");
    }
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(400, "Missing the required parameter 'projectId' when calling ingestIngestOtlp");
    }
    // verify the required parameter 'environmentId' is set
    if (environmentId == null) {
      throw new ApiException(400, "Missing the required parameter 'environmentId' when calling ingestIngestOtlp");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/otlp/{tenant_id}/{project_id}/{environment_id}/v1/traces"
        .replace("{tenant_id}", ApiClient.urlEncode(tenantId.toString()))
        .replace("{project_id}", ApiClient.urlEncode(projectId.toString()))
        .replace("{environment_id}", ApiClient.urlEncode(environmentId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "durability";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("durability", durability));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    if (authorization != null) {
      localVarRequestBuilder.header("authorization", authorization.toString());
    }
    if (xBeaterApiKey != null) {
      localVarRequestBuilder.header("x-beater-api-key", xBeaterApiKey.toString());
    }
    if (xBeaterProjectId != null) {
      localVarRequestBuilder.header("x-beater-project-id", xBeaterProjectId.toString());
    }
    if (xBeaterEnvironmentId != null) {
      localVarRequestBuilder.header("x-beater-environment-id", xBeaterEnvironmentId.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   *
   *
   * @param durability  (optional)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xBeaterApiKey API key alternative for strict auth (optional)
   * @param xBeaterTenantId Tenant scope override for collector-style OTLP JSON (optional)
   * @param xBeaterProjectId Project scope override for collector-style OTLP JSON (optional)
   * @param xBeaterEnvironmentId Environment scope override for collector-style OTLP JSON (optional)
   * @return OtlpIngestOutcome
   * @throws ApiException if fails to make API call
   */
  public OtlpIngestOutcome ingestIngestOtlpJsonCollector(String durability, String authorization, String xBeaterApiKey, String xBeaterTenantId, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    ApiResponse<OtlpIngestOutcome> localVarResponse = ingestIngestOtlpJsonCollectorWithHttpInfo(durability, authorization, xBeaterApiKey, xBeaterTenantId, xBeaterProjectId, xBeaterEnvironmentId);
    return localVarResponse.getData();
  }

  /**
   *
   *
   * @param durability  (optional)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xBeaterApiKey API key alternative for strict auth (optional)
   * @param xBeaterTenantId Tenant scope override for collector-style OTLP JSON (optional)
   * @param xBeaterProjectId Project scope override for collector-style OTLP JSON (optional)
   * @param xBeaterEnvironmentId Environment scope override for collector-style OTLP JSON (optional)
   * @return ApiResponse&lt;OtlpIngestOutcome&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<OtlpIngestOutcome> ingestIngestOtlpJsonCollectorWithHttpInfo(String durability, String authorization, String xBeaterApiKey, String xBeaterTenantId, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = ingestIngestOtlpJsonCollectorRequestBuilder(durability, authorization, xBeaterApiKey, xBeaterTenantId, xBeaterProjectId, xBeaterEnvironmentId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("ingestIngestOtlpJsonCollector", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<OtlpIngestOutcome>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<OtlpIngestOutcome>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<OtlpIngestOutcome>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder ingestIngestOtlpJsonCollectorRequestBuilder(String durability, String authorization, String xBeaterApiKey, String xBeaterTenantId, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/traces";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "durability";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("durability", durability));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    if (authorization != null) {
      localVarRequestBuilder.header("authorization", authorization.toString());
    }
    if (xBeaterApiKey != null) {
      localVarRequestBuilder.header("x-beater-api-key", xBeaterApiKey.toString());
    }
    if (xBeaterTenantId != null) {
      localVarRequestBuilder.header("x-beater-tenant-id", xBeaterTenantId.toString());
    }
    if (xBeaterProjectId != null) {
      localVarRequestBuilder.header("x-beater-project-id", xBeaterProjectId.toString());
    }
    if (xBeaterEnvironmentId != null) {
      localVarRequestBuilder.header("x-beater-environment-id", xBeaterEnvironmentId.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   *
   *
   * @param tenantId tenant_id (required)
   * @param projectId project_id (required)
   * @param traceId trace_id (required)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xBeaterApiKey API key alternative for strict auth (optional)
   * @param xBeaterProjectId Strict-auth project scope (optional)
   * @param xBeaterEnvironmentId Strict-auth environment scope (optional)
   * @return TraceIngestedReconcileReport
   * @throws ApiException if fails to make API call
   */
  public TraceIngestedReconcileReport ingestReconcileTrace(String tenantId, String projectId, String traceId, String authorization, String xBeaterApiKey, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    ApiResponse<TraceIngestedReconcileReport> localVarResponse = ingestReconcileTraceWithHttpInfo(tenantId, projectId, traceId, authorization, xBeaterApiKey, xBeaterProjectId, xBeaterEnvironmentId);
    return localVarResponse.getData();
  }

  /**
   *
   *
   * @param tenantId tenant_id (required)
   * @param projectId project_id (required)
   * @param traceId trace_id (required)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xBeaterApiKey API key alternative for strict auth (optional)
   * @param xBeaterProjectId Strict-auth project scope (optional)
   * @param xBeaterEnvironmentId Strict-auth environment scope (optional)
   * @return ApiResponse&lt;TraceIngestedReconcileReport&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TraceIngestedReconcileReport> ingestReconcileTraceWithHttpInfo(String tenantId, String projectId, String traceId, String authorization, String xBeaterApiKey, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = ingestReconcileTraceRequestBuilder(tenantId, projectId, traceId, authorization, xBeaterApiKey, xBeaterProjectId, xBeaterEnvironmentId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("ingestReconcileTrace", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<TraceIngestedReconcileReport>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<TraceIngestedReconcileReport>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<TraceIngestedReconcileReport>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder ingestReconcileTraceRequestBuilder(String tenantId, String projectId, String traceId, String authorization, String xBeaterApiKey, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    // verify the required parameter 'tenantId' is set
    if (tenantId == null) {
      throw new ApiException(400, "Missing the required parameter 'tenantId' when calling ingestReconcileTrace");
    }
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(400, "Missing the required parameter 'projectId' when calling ingestReconcileTrace");
    }
    // verify the required parameter 'traceId' is set
    if (traceId == null) {
      throw new ApiException(400, "Missing the required parameter 'traceId' when calling ingestReconcileTrace");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/ingest/{tenant_id}/{project_id}/traces/{trace_id}/reconcile"
        .replace("{tenant_id}", ApiClient.urlEncode(tenantId.toString()))
        .replace("{project_id}", ApiClient.urlEncode(projectId.toString()))
        .replace("{trace_id}", ApiClient.urlEncode(traceId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (authorization != null) {
      localVarRequestBuilder.header("authorization", authorization.toString());
    }
    if (xBeaterApiKey != null) {
      localVarRequestBuilder.header("x-beater-api-key", xBeaterApiKey.toString());
    }
    if (xBeaterProjectId != null) {
      localVarRequestBuilder.header("x-beater-project-id", xBeaterProjectId.toString());
    }
    if (xBeaterEnvironmentId != null) {
      localVarRequestBuilder.header("x-beater-environment-id", xBeaterEnvironmentId.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   *
   *
   * @param tenantId tenant_id (required)
   * @param projectId project_id (required)
   * @param messageId message_id (required)
   * @param resetAttempts  (optional)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xBeaterApiKey API key alternative for strict auth (optional)
   * @param xBeaterProjectId Strict-auth project scope (optional)
   * @param xBeaterEnvironmentId Strict-auth environment scope (optional)
   * @return DeadLetterReplayReport
   * @throws ApiException if fails to make API call
   */
  public DeadLetterReplayReport ingestReplayDeadLetter(String tenantId, String projectId, String messageId, Boolean resetAttempts, String authorization, String xBeaterApiKey, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    ApiResponse<DeadLetterReplayReport> localVarResponse = ingestReplayDeadLetterWithHttpInfo(tenantId, projectId, messageId, resetAttempts, authorization, xBeaterApiKey, xBeaterProjectId, xBeaterEnvironmentId);
    return localVarResponse.getData();
  }

  /**
   *
   *
   * @param tenantId tenant_id (required)
   * @param projectId project_id (required)
   * @param messageId message_id (required)
   * @param resetAttempts  (optional)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xBeaterApiKey API key alternative for strict auth (optional)
   * @param xBeaterProjectId Strict-auth project scope (optional)
   * @param xBeaterEnvironmentId Strict-auth environment scope (optional)
   * @return ApiResponse&lt;DeadLetterReplayReport&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DeadLetterReplayReport> ingestReplayDeadLetterWithHttpInfo(String tenantId, String projectId, String messageId, Boolean resetAttempts, String authorization, String xBeaterApiKey, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = ingestReplayDeadLetterRequestBuilder(tenantId, projectId, messageId, resetAttempts, authorization, xBeaterApiKey, xBeaterProjectId, xBeaterEnvironmentId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("ingestReplayDeadLetter", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<DeadLetterReplayReport>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<DeadLetterReplayReport>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<DeadLetterReplayReport>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder ingestReplayDeadLetterRequestBuilder(String tenantId, String projectId, String messageId, Boolean resetAttempts, String authorization, String xBeaterApiKey, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    // verify the required parameter 'tenantId' is set
    if (tenantId == null) {
      throw new ApiException(400, "Missing the required parameter 'tenantId' when calling ingestReplayDeadLetter");
    }
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(400, "Missing the required parameter 'projectId' when calling ingestReplayDeadLetter");
    }
    // verify the required parameter 'messageId' is set
    if (messageId == null) {
      throw new ApiException(400, "Missing the required parameter 'messageId' when calling ingestReplayDeadLetter");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/ingest/{tenant_id}/{project_id}/dead-letters/{message_id}/replay"
        .replace("{tenant_id}", ApiClient.urlEncode(tenantId.toString()))
        .replace("{project_id}", ApiClient.urlEncode(projectId.toString()))
        .replace("{message_id}", ApiClient.urlEncode(messageId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "reset_attempts";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("reset_attempts", resetAttempts));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    if (authorization != null) {
      localVarRequestBuilder.header("authorization", authorization.toString());
    }
    if (xBeaterApiKey != null) {
      localVarRequestBuilder.header("x-beater-api-key", xBeaterApiKey.toString());
    }
    if (xBeaterProjectId != null) {
      localVarRequestBuilder.header("x-beater-project-id", xBeaterProjectId.toString());
    }
    if (xBeaterEnvironmentId != null) {
      localVarRequestBuilder.header("x-beater-environment-id", xBeaterEnvironmentId.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
