/*
 * Beater API
 * Agent observability, evaluation, gating, and human-review APIs for Beater
 *
 * The version of the OpenAPI document: 0.1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package ai.beater.client.api;

import ai.beater.client.ApiClient;
import ai.beater.client.ApiException;
import ai.beater.client.ApiResponse;
import ai.beater.client.Pair;

import ai.beater.client.model.ErrorResponse;
import ai.beater.client.model.OnlineSamplingPolicy;
import ai.beater.client.model.SamplingDecision;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.11.0")
public class OnlineApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public OnlineApi() {
    this(new ApiClient());
  }

  public OnlineApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * 
   * 
   * @param tenantId tenant_id (required)
   * @param projectId project_id (required)
   * @param traceId trace_id (required)
   * @param onlineSamplingPolicy  (required)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xBeaterApiKey API key alternative for strict auth (optional)
   * @param xBeaterProjectId Strict-auth project scope (optional)
   * @param xBeaterEnvironmentId Strict-auth environment scope (optional)
   * @return SamplingDecision
   * @throws ApiException if fails to make API call
   */
  public SamplingDecision onlineDecideOnlineSampling(String tenantId, String projectId, String traceId, OnlineSamplingPolicy onlineSamplingPolicy, String authorization, String xBeaterApiKey, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    ApiResponse<SamplingDecision> localVarResponse = onlineDecideOnlineSamplingWithHttpInfo(tenantId, projectId, traceId, onlineSamplingPolicy, authorization, xBeaterApiKey, xBeaterProjectId, xBeaterEnvironmentId);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param tenantId tenant_id (required)
   * @param projectId project_id (required)
   * @param traceId trace_id (required)
   * @param onlineSamplingPolicy  (required)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xBeaterApiKey API key alternative for strict auth (optional)
   * @param xBeaterProjectId Strict-auth project scope (optional)
   * @param xBeaterEnvironmentId Strict-auth environment scope (optional)
   * @return ApiResponse&lt;SamplingDecision&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<SamplingDecision> onlineDecideOnlineSamplingWithHttpInfo(String tenantId, String projectId, String traceId, OnlineSamplingPolicy onlineSamplingPolicy, String authorization, String xBeaterApiKey, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = onlineDecideOnlineSamplingRequestBuilder(tenantId, projectId, traceId, onlineSamplingPolicy, authorization, xBeaterApiKey, xBeaterProjectId, xBeaterEnvironmentId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("onlineDecideOnlineSampling", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<SamplingDecision>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<SamplingDecision>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<SamplingDecision>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder onlineDecideOnlineSamplingRequestBuilder(String tenantId, String projectId, String traceId, OnlineSamplingPolicy onlineSamplingPolicy, String authorization, String xBeaterApiKey, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    // verify the required parameter 'tenantId' is set
    if (tenantId == null) {
      throw new ApiException(400, "Missing the required parameter 'tenantId' when calling onlineDecideOnlineSampling");
    }
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(400, "Missing the required parameter 'projectId' when calling onlineDecideOnlineSampling");
    }
    // verify the required parameter 'traceId' is set
    if (traceId == null) {
      throw new ApiException(400, "Missing the required parameter 'traceId' when calling onlineDecideOnlineSampling");
    }
    // verify the required parameter 'onlineSamplingPolicy' is set
    if (onlineSamplingPolicy == null) {
      throw new ApiException(400, "Missing the required parameter 'onlineSamplingPolicy' when calling onlineDecideOnlineSampling");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/online/{tenant_id}/{project_id}/traces/{trace_id}/sampling"
        .replace("{tenant_id}", ApiClient.urlEncode(tenantId.toString()))
        .replace("{project_id}", ApiClient.urlEncode(projectId.toString()))
        .replace("{trace_id}", ApiClient.urlEncode(traceId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (authorization != null) {
      localVarRequestBuilder.header("authorization", authorization.toString());
    }
    if (xBeaterApiKey != null) {
      localVarRequestBuilder.header("x-beater-api-key", xBeaterApiKey.toString());
    }
    if (xBeaterProjectId != null) {
      localVarRequestBuilder.header("x-beater-project-id", xBeaterProjectId.toString());
    }
    if (xBeaterEnvironmentId != null) {
      localVarRequestBuilder.header("x-beater-environment-id", xBeaterEnvironmentId.toString());
    }
    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(onlineSamplingPolicy);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
