/*
 * Beater API
 * Agent observability, evaluation, gating, and human-review APIs for Beater
 *
 * The version of the OpenAPI document: 0.1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package ai.beater.client.api;

import ai.beater.client.ApiClient;
import ai.beater.client.ApiException;
import ai.beater.client.ApiResponse;
import ai.beater.client.Pair;

import ai.beater.client.model.ErrorResponse;
import ai.beater.client.model.SearchResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.11.0")
public class SearchApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public SearchApi() {
    this(new ApiClient());
  }

  public SearchApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * 
   * 
   * @param tenantId tenant_id (required)
   * @param q  (optional)
   * @param projectId  (optional)
   * @param environmentId  (optional)
   * @param traceId  (optional)
   * @param spanId  (optional)
   * @param kind  (optional)
   * @param status  (optional)
   * @param model  (optional)
   * @param tool  (optional)
   * @param limit  (optional)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xBeaterApiKey API key alternative for strict auth (optional)
   * @param xBeaterProjectId Strict-auth project scope (optional)
   * @param xBeaterEnvironmentId Strict-auth environment scope (optional)
   * @return SearchResponse
   * @throws ApiException if fails to make API call
   */
  public SearchResponse searchSearchSpans(String tenantId, String q, String projectId, String environmentId, String traceId, String spanId, String kind, String status, String model, String tool, Integer limit, String authorization, String xBeaterApiKey, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    ApiResponse<SearchResponse> localVarResponse = searchSearchSpansWithHttpInfo(tenantId, q, projectId, environmentId, traceId, spanId, kind, status, model, tool, limit, authorization, xBeaterApiKey, xBeaterProjectId, xBeaterEnvironmentId);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param tenantId tenant_id (required)
   * @param q  (optional)
   * @param projectId  (optional)
   * @param environmentId  (optional)
   * @param traceId  (optional)
   * @param spanId  (optional)
   * @param kind  (optional)
   * @param status  (optional)
   * @param model  (optional)
   * @param tool  (optional)
   * @param limit  (optional)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xBeaterApiKey API key alternative for strict auth (optional)
   * @param xBeaterProjectId Strict-auth project scope (optional)
   * @param xBeaterEnvironmentId Strict-auth environment scope (optional)
   * @return ApiResponse&lt;SearchResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<SearchResponse> searchSearchSpansWithHttpInfo(String tenantId, String q, String projectId, String environmentId, String traceId, String spanId, String kind, String status, String model, String tool, Integer limit, String authorization, String xBeaterApiKey, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = searchSearchSpansRequestBuilder(tenantId, q, projectId, environmentId, traceId, spanId, kind, status, model, tool, limit, authorization, xBeaterApiKey, xBeaterProjectId, xBeaterEnvironmentId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("searchSearchSpans", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<SearchResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<SearchResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<SearchResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder searchSearchSpansRequestBuilder(String tenantId, String q, String projectId, String environmentId, String traceId, String spanId, String kind, String status, String model, String tool, Integer limit, String authorization, String xBeaterApiKey, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    // verify the required parameter 'tenantId' is set
    if (tenantId == null) {
      throw new ApiException(400, "Missing the required parameter 'tenantId' when calling searchSearchSpans");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/search/{tenant_id}/spans"
        .replace("{tenant_id}", ApiClient.urlEncode(tenantId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "q";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("q", q));
    localVarQueryParameterBaseName = "project_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("project_id", projectId));
    localVarQueryParameterBaseName = "environment_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("environment_id", environmentId));
    localVarQueryParameterBaseName = "trace_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("trace_id", traceId));
    localVarQueryParameterBaseName = "span_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("span_id", spanId));
    localVarQueryParameterBaseName = "kind";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("kind", kind));
    localVarQueryParameterBaseName = "status";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("status", status));
    localVarQueryParameterBaseName = "model";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("model", model));
    localVarQueryParameterBaseName = "tool";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("tool", tool));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    if (authorization != null) {
      localVarRequestBuilder.header("authorization", authorization.toString());
    }
    if (xBeaterApiKey != null) {
      localVarRequestBuilder.header("x-beater-api-key", xBeaterApiKey.toString());
    }
    if (xBeaterProjectId != null) {
      localVarRequestBuilder.header("x-beater-project-id", xBeaterProjectId.toString());
    }
    if (xBeaterEnvironmentId != null) {
      localVarRequestBuilder.header("x-beater-environment-id", xBeaterEnvironmentId.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
