/*
 * Beater API
 * Agent observability, evaluation, gating, and human-review APIs for Beater
 *
 * The version of the OpenAPI document: 0.1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package ai.beater.client.api;

import ai.beater.client.ApiClient;
import ai.beater.client.ApiException;
import ai.beater.client.ApiResponse;
import ai.beater.client.Pair;

import ai.beater.client.model.ErrorResponse;
import ai.beater.client.model.PageRunSummary;
import ai.beater.client.model.TraceView;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.11.0")
public class TracesApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public TracesApi() {
    this(new ApiClient());
  }

  public TracesApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * 
   * 
   * @param tenantId tenant_id (required)
   * @param traceId trace_id (required)
   * @param unmask  (optional)
   * @param reason  (optional)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xBeaterApiKey API key alternative for strict auth (optional)
   * @param xBeaterProjectId Strict-auth project scope (optional)
   * @param xBeaterEnvironmentId Strict-auth environment scope (optional)
   * @return TraceView
   * @throws ApiException if fails to make API call
   */
  public TraceView tracesGetTrace(String tenantId, String traceId, Boolean unmask, String reason, String authorization, String xBeaterApiKey, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    ApiResponse<TraceView> localVarResponse = tracesGetTraceWithHttpInfo(tenantId, traceId, unmask, reason, authorization, xBeaterApiKey, xBeaterProjectId, xBeaterEnvironmentId);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param tenantId tenant_id (required)
   * @param traceId trace_id (required)
   * @param unmask  (optional)
   * @param reason  (optional)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xBeaterApiKey API key alternative for strict auth (optional)
   * @param xBeaterProjectId Strict-auth project scope (optional)
   * @param xBeaterEnvironmentId Strict-auth environment scope (optional)
   * @return ApiResponse&lt;TraceView&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TraceView> tracesGetTraceWithHttpInfo(String tenantId, String traceId, Boolean unmask, String reason, String authorization, String xBeaterApiKey, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = tracesGetTraceRequestBuilder(tenantId, traceId, unmask, reason, authorization, xBeaterApiKey, xBeaterProjectId, xBeaterEnvironmentId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("tracesGetTrace", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<TraceView>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<TraceView>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<TraceView>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder tracesGetTraceRequestBuilder(String tenantId, String traceId, Boolean unmask, String reason, String authorization, String xBeaterApiKey, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    // verify the required parameter 'tenantId' is set
    if (tenantId == null) {
      throw new ApiException(400, "Missing the required parameter 'tenantId' when calling tracesGetTrace");
    }
    // verify the required parameter 'traceId' is set
    if (traceId == null) {
      throw new ApiException(400, "Missing the required parameter 'traceId' when calling tracesGetTrace");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/traces/{tenant_id}/{trace_id}"
        .replace("{tenant_id}", ApiClient.urlEncode(tenantId.toString()))
        .replace("{trace_id}", ApiClient.urlEncode(traceId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "unmask";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("unmask", unmask));
    localVarQueryParameterBaseName = "reason";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("reason", reason));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    if (authorization != null) {
      localVarRequestBuilder.header("authorization", authorization.toString());
    }
    if (xBeaterApiKey != null) {
      localVarRequestBuilder.header("x-beater-api-key", xBeaterApiKey.toString());
    }
    if (xBeaterProjectId != null) {
      localVarRequestBuilder.header("x-beater-project-id", xBeaterProjectId.toString());
    }
    if (xBeaterEnvironmentId != null) {
      localVarRequestBuilder.header("x-beater-environment-id", xBeaterEnvironmentId.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param tenantId tenant_id (required)
   * @param projectId  (optional)
   * @param environmentId  (optional)
   * @param traceId  (optional)
   * @param kind  (optional)
   * @param status  (optional)
   * @param startedAfter  (optional)
   * @param startedBefore  (optional)
   * @param model  (optional)
   * @param release  (optional)
   * @param minCostMicros  (optional)
   * @param maxCostMicros  (optional)
   * @param minLatencyMs  (optional)
   * @param maxLatencyMs  (optional)
   * @param limit  (optional)
   * @param cursor  (optional)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xBeaterApiKey API key alternative for strict auth (optional)
   * @param xBeaterProjectId Strict-auth project scope (optional)
   * @param xBeaterEnvironmentId Strict-auth environment scope (optional)
   * @return PageRunSummary
   * @throws ApiException if fails to make API call
   */
  public PageRunSummary tracesListTraces(String tenantId, String projectId, String environmentId, String traceId, String kind, String status, String startedAfter, String startedBefore, String model, String release, Long minCostMicros, Long maxCostMicros, Long minLatencyMs, Long maxLatencyMs, Integer limit, String cursor, String authorization, String xBeaterApiKey, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    ApiResponse<PageRunSummary> localVarResponse = tracesListTracesWithHttpInfo(tenantId, projectId, environmentId, traceId, kind, status, startedAfter, startedBefore, model, release, minCostMicros, maxCostMicros, minLatencyMs, maxLatencyMs, limit, cursor, authorization, xBeaterApiKey, xBeaterProjectId, xBeaterEnvironmentId);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param tenantId tenant_id (required)
   * @param projectId  (optional)
   * @param environmentId  (optional)
   * @param traceId  (optional)
   * @param kind  (optional)
   * @param status  (optional)
   * @param startedAfter  (optional)
   * @param startedBefore  (optional)
   * @param model  (optional)
   * @param release  (optional)
   * @param minCostMicros  (optional)
   * @param maxCostMicros  (optional)
   * @param minLatencyMs  (optional)
   * @param maxLatencyMs  (optional)
   * @param limit  (optional)
   * @param cursor  (optional)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xBeaterApiKey API key alternative for strict auth (optional)
   * @param xBeaterProjectId Strict-auth project scope (optional)
   * @param xBeaterEnvironmentId Strict-auth environment scope (optional)
   * @return ApiResponse&lt;PageRunSummary&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<PageRunSummary> tracesListTracesWithHttpInfo(String tenantId, String projectId, String environmentId, String traceId, String kind, String status, String startedAfter, String startedBefore, String model, String release, Long minCostMicros, Long maxCostMicros, Long minLatencyMs, Long maxLatencyMs, Integer limit, String cursor, String authorization, String xBeaterApiKey, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = tracesListTracesRequestBuilder(tenantId, projectId, environmentId, traceId, kind, status, startedAfter, startedBefore, model, release, minCostMicros, maxCostMicros, minLatencyMs, maxLatencyMs, limit, cursor, authorization, xBeaterApiKey, xBeaterProjectId, xBeaterEnvironmentId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("tracesListTraces", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<PageRunSummary>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<PageRunSummary>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<PageRunSummary>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder tracesListTracesRequestBuilder(String tenantId, String projectId, String environmentId, String traceId, String kind, String status, String startedAfter, String startedBefore, String model, String release, Long minCostMicros, Long maxCostMicros, Long minLatencyMs, Long maxLatencyMs, Integer limit, String cursor, String authorization, String xBeaterApiKey, String xBeaterProjectId, String xBeaterEnvironmentId) throws ApiException {
    // verify the required parameter 'tenantId' is set
    if (tenantId == null) {
      throw new ApiException(400, "Missing the required parameter 'tenantId' when calling tracesListTraces");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/traces/{tenant_id}"
        .replace("{tenant_id}", ApiClient.urlEncode(tenantId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "project_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("project_id", projectId));
    localVarQueryParameterBaseName = "environment_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("environment_id", environmentId));
    localVarQueryParameterBaseName = "trace_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("trace_id", traceId));
    localVarQueryParameterBaseName = "kind";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("kind", kind));
    localVarQueryParameterBaseName = "status";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("status", status));
    localVarQueryParameterBaseName = "started_after";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("started_after", startedAfter));
    localVarQueryParameterBaseName = "started_before";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("started_before", startedBefore));
    localVarQueryParameterBaseName = "model";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("model", model));
    localVarQueryParameterBaseName = "release";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("release", release));
    localVarQueryParameterBaseName = "min_cost_micros";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("min_cost_micros", minCostMicros));
    localVarQueryParameterBaseName = "max_cost_micros";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("max_cost_micros", maxCostMicros));
    localVarQueryParameterBaseName = "min_latency_ms";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("min_latency_ms", minLatencyMs));
    localVarQueryParameterBaseName = "max_latency_ms";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("max_latency_ms", maxLatencyMs));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "cursor";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("cursor", cursor));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    if (authorization != null) {
      localVarRequestBuilder.header("authorization", authorization.toString());
    }
    if (xBeaterApiKey != null) {
      localVarRequestBuilder.header("x-beater-api-key", xBeaterApiKey.toString());
    }
    if (xBeaterProjectId != null) {
      localVarRequestBuilder.header("x-beater-project-id", xBeaterProjectId.toString());
    }
    if (xBeaterEnvironmentId != null) {
      localVarRequestBuilder.header("x-beater-environment-id", xBeaterEnvironmentId.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
